*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.grid-rain-container{
  display: grid;
  width: 100%;
  max-width: 600px;
  aspect-ratio: 20/15;
  gap: 5px;
  background-color: #313131;
  margin: auto;
  border: 5px solid #aaa;
  border-top: 2px solid #aaa;

  padding:15px 5px;
  box-shadow: 2px 2xp 4px rgba(0, 0, 0, 0.25);
}

.grid-cell{
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease;
  border-radius: 2px;
  border: 1px solid black;
}
